name: Deploying the program

on:
  push:
    branches:
      - main

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Cloning the repo
        uses: actions/checkout@v2

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: anascoder4897/anaskhan-cicdtesting:latest

      - name: Verify Docker pull
        run: docker pull anascoder4897/anaskhan-cicdtesting:latest

      - name : push to ec2 
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.KEY }}
          port: ${{ secrets.PORT }}
          script: |
            sudo docker pull anascoder4897/anaskhan-cicdtesting:latest
            sudo docker stop web-app || true 
            sudo docker rm web-app || true 
            sudo docker run --restart-always -d --name web-app -p  8000:8000 anascoder4897/anaskhan-cicdtesting:latest
